<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Listado de productos</title>
</head>
<body>

<div id="producto">

    <div th:each="producto: ${productos}">
        <h2 th:text="${producto.titulo}">Titulo</h2>
        Precio: <span th:text="${producto.precio}"></span>
        Cantidad: <span th:text="${producto.cantidad}"></span></br>
        <a th:href="@{/productos/del/{id}(id=${producto.id})}">borrar</a>
        <a th:href="@{/productos/del/{id}(id=${producto.id})}">editar</a>
        <a th:href="@{/productos/sel/{id}(id=${producto.id})}">ver</a>
    </div>



</div>

</body>
</html>